<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(produtos$ | async) as produtos" padding>
  <ion-item-sliding *ngFor="let c of produtos">
    <ion-item-options side="end">
      <ion-item-option color="danger" expandable (click)="remover(c)">
        Remover
      </ion-item-option>
    </ion-item-options>
    <ion-item>
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" />
      </ion-avatar>
      <ion-label>
        Nome: {{ c.nome }} <br>
        Descrição: {{ c.descricao }} <br>
        Quantidade: {{ c.quant }} <br>
        Valor: {{ c.valor }}
      </ion-label>
    </ion-item>
    <ion-item-options side="start">
      <ion-item-option color="tertiary" expandable (click)="atualizar(c)">
        Atualizar
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down" pullingText="" refreshingSpinner="crescent" refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
</ion-content>